body {
    font-family: 'PT Sans', sans-serif;
}

 ::selection {
    background-color: rgba(50, 219, 73, 0.4);
    color: white;
}

section,
.project {
    padding: 30px;
}

.home {
    background: linear-gradient(to top, rgba(88, 88, 90, 0.9) 0%, rgba(25, 26, 25, 0.9) 100%), url(../img/bg-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.main-intro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: 700;
    width: 100%;
}

.main-intro span {
    display: block;
    font-family: 'Chango', cursive;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 10px;
    margin: 0px 0 40px 0;
    line-height: 55px;
    text-shadow: 10px 30px 10px rgba(34, 33, 33, 0.37);
}

.text-bg {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*******2-section******/

.about {
    color: white;
    background: linear-gradient(to top, rgba(88, 88, 90, 0.9) 0%, rgba(25, 26, 25, 0.9) 100%), url(../img/bg-2.jpg);
}

.pg-title {
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Passion One', cursive, Arial, Helvetica, sans-serif;
    color: rgba(175, 179, 175, 0.336);
    letter-spacing: 5px;
    user-select: none;
    /* margin-top: 100px; */
}


/* .position {
    position: absolute;
    top: 20vh;
    left: 5vw;
} */

.about p {
    font-size: 13px;
}


/******section 3****/

.skills {
    background: linear-gradient(to top, rgba(88, 88, 90, 0.9) 0%, rgba(25, 26, 25, 0.9) 100%), url(../img/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.ldBar {
    position: relative;
}

.ldBar.label-center>.ldBar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow: 0 0 3px rgb(248, 246, 246);
}

.ldBar-label:after {
    content: "%";
    display: inline;
}

.ldBar.no-percent .ldBar-label:after {
    content: "";
}

.grids {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
}

.columns {
    height: 200px;
    background: transparent;
    position: relative;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.733);
    transition: 600ms;
}

.columns:hover {
    font-size: 14px;
    font-weight: 700;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.733);
    color: #96e6a1;
}

.columns:hover .ldBar {}

.columns div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .main-intro span {
        display: inline-block;
        font-size: 22px;
        letter-spacing: 1px;
        margin: 0px 0 40px 0;
        line-height: 35px;
        text-shadow: none
    }
    section {
        margin-bottom: 30px;
    }
}


/*****section 4 ***/

.project {
    background: linear-gradient(to top, rgba(88, 88, 90, 0.9) 0%, rgba(25, 26, 25, 0.9) 100%), url(../img/bg-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(1fr, 250px));
    grid-gap: 30px;
}

.project-column {
    position: relative;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.733);
    transition: 600ms;
    overflow: hidden;
    transition: 600ms;
}

.project-column img {
    width: 105%;
    height: 100%;
}

.project-column:hover {
    font-size: 14px;
    font-weight: 700;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.733);
    color: #96e6a1;
}

.project-column:hover .empty {
    transform: scale(1);
}

.project-column:hover .project-content {
    transform: scale(1);
}

.project-column:hover .img-cover {
    background-color: rgba(82, 80, 80, 0.9);
}

.empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transition: 400ms;
    transform: scaleX(0);
    clip-path: polygon(0 17%, 58% 54%, 70% 100%, 0 100%);
    background: linear-gradient(120deg, rgba(213, 252, 121, 0.5) 0%, rgba(50, 219, 73, 0.5) 100%);
    transform-origin: left;
    z-index: 847834658;
}

.img-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(82, 80, 80, 0.4);
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    clip-path: polygon(0 0, 62% 78%, 57% 100%, 0 100%);
    background: linear-gradient(120deg, rgba(213, 252, 121, 0.6) 0%, rgba(50, 219, 73, 0.6) 100%);
    color: white;
    transform: scaleX(0);
    transition: 400ms;
    transform-origin: right;
    z-index: 345763457639485738457384573489653489;
}

.content {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.project-content h3 {
    font-size: 12px;
    color: rgb(78, 75, 75);
    font-weight: 700;
    cursor: text;
}

.project-content a {
    background: white;
    width: 60px;
    font-size: 12px;
    color: rgb(78, 75, 75);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

@media (max-width: 600px) {
    .empty {
        transform: scale(1);
    }
    .project-content {
        transform: scale(1);
    }
    .pg-title {
        font-size: 50px;
        font-weight: 700;
    }
    .content {
        position: absolute;
        bottom: 20px;
        left: 10px;
    }
}


/******section 5**/

.contact {
    background: linear-gradient(to top, rgba(88, 88, 90, 0.9) 0%, rgba(25, 26, 25, 0.9) 100%), url(../img/bg-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
    width: 100%;
}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    text-align: left;
}

.contact-column {
    height: 400px;
    padding: 30px;
    position: relative;
}

.bg-2,
.bg-1 {
    background: transparent;
    /* box-shadow: 0.1px 0.1px 2px rgba(0, 0, 0, 0.733); */
    transition: 600ms;
}

.bg-2:hover,
.bg-1:hover {
    border-radius: 10px;
    box-shadow: 0.5px 2px 20px rgba(0, 0, 0, 0.733);
}

.contact-column h1 {
    font-weight: 700;
    font-size: 38px;
}

.contact-column p {
    font-size: 18px;
    font-weight: 700;
    color: rgb(173, 165, 165);
}

.contact-column summary {
    font-size: 18px;
    color: rgba(50, 219, 73, 0.6);
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-column a {
    width: 20px;
    margin: 10px;
    outline: none;
}

.contact-column img {
    width: 20px;
    margin: 10px;
    outline: none;
}

.email,
.num {
    margin-bottom: 20px;
}

.email p,
.num p {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.contact-column span {
    display: block;
}

.contact-column button {
    padding: 5px 30px;
    background: transparent;
    border: 1px solid white;
    border-radius: 100px;
    outline: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-top: 20px;
    z-index: 36538457983457893457893465348956384 !important;
}

@media (max-width: 900px) {
    .contact-column {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .contact-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
        text-align: center;
    }
}

#for-project,
#for-hire,
#for-coffee {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: none;
}

#close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;
    cursor: pointer;
    z-index: 23423986283462723756328745628346238564623846239846238;
}


/****form **/

.form {
    width: 100%;
    padding: 30px;
}

.form h1 {
    font-size: 26px;
}

.form h2 {
    font-size: 16px;
}

.form input {
    width: 250px;
    height: 30px;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    border: none;
    outline: none;
    color: rgb(224, 218, 218);
    border: 1px solid white;
    background: transparent;
    padding: 2px 5px;
}

.form textarea {
    width: 300px;
    height: 100px;
    resize: none;
    display: block;
    margin-bottom: 10px;
    font-size: 12px;
    border: none;
    outline: none;
    color: rgb(224, 218, 218);
    border: 1px solid white;
    background: transparent;
}